<%= form_for(@orc) do |f| %>
  <% if @orc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orc.errors.count, "error") %> prohibited this orc from being saved:</h2>

      <ul>
      <% @orc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lv %><br />
    <%= f.number_field :lv %>
  </div>
  <div class="field">
    <%= f.label :weapon %><br />
    <%= f.text_field :weapon %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
